<div class="row">
  <div class="col-xs-1 col-sm-2"></div>
  <div class="col-xs-10 col-sm-8">
      <div>
        <button type="button" class="btn btn-default btn-sm" ng-disabled="codeSent" ng-click="addEditor()">New File</button>
        <button type="button" class="btn btn-default btn-sm" ng-disabled="codeSent"
                ng-click="deleteEditor(currentTab)" ng-confirm-click="Are you sure to delete this file?">
          Delete current file
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-disabled="codeSent" ng-click="sendCode ()">Send code</button>
      </div>
      <hr/>

      <div>
        <uib-tabset>
          <uib-tab ng-repeat="tab in tabs"
                   heading="{{ tab.heading || 'New File' }}"
                   active="tab.active"
                   select="selectTab(tab.id)">
            <div ui-ace="{
          mode: 'java',
          require: ['ace/ext/language_tools'],
          advanced: {
            enableLiveAutocompletion: true,
            enableBasicAutocompletion: true
          },
          rendererOptions: {
            fontSize: 18,
            showLineNumbers: true,
          },
          onLoad : aceLoaded
        }">
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
      <hr/>

    <div class="col-xs-1 col-sm-2"></div>
  </div>
</div>
