
  <!--stack-->
  <div class="col-xs-4">
    <!--static fields
    "globals":{
        "Main.ps":[ "REF", 168 ],
        "Cat.ps":[ "REF", 188 ]
    } -->
    <div ng-if="! (curTrace.globals | isEmpty)">
      <h2><i>Static Fields</i></h2>
      <hr/>
      <table class="table table-condensed table-bordered static_fields"
             style="table-layout: fixed">
        <tr>
          <th class="col-xs-4 hand_pointer" ng-click="activateStack('STATIC')" colspan="2"> static fields </th>
        </tr>
        <tr ng-repeat="(field, val) in curTrace.globals">
          <td> {{ field }} </td>
          <td ng-if="! isReference(val)">{{ val | checkNull }}</td>

          <!--   SOURCE - STATIC - VAR_NAME - REF_ID   -->
          <td id="SOURCE-STATIC-{{ field + '-' + val[1]}}"
              ng-if="isReference(val)"><i>{{ val | beautifyRef:showArrows }}</i></td>
        </tr>
      </table>
    </div>

    <h2>Stack</h2>
    <hr/>
    <table class="table table-condensed table-bordered"
           ng-class="{true:'active_frame', false: 'inactive_frame'}[$index == curTrace.stack_to_render.length - 1]"
           style="table-layout: fixed"
           ng-repeat="call in curTrace.stack_to_render | reverse track by $index">
      <tr>
        <th class="col-xs-4 hand_pointer" ng-click="activateStack(call.frame_id)" colspan="2">
        <!--<th class="col-xs-4" colspan="2">-->
          {{ call.func_name }}
        </th>
      </tr>
      <tr ng-repeat="(v, ref) in call.encoded_locals">
        <td> {{ v }} </td>
        <!--   SOURCE - FRAME_ID - VAR_NAME - REF_ID   -->
        <td id="SOURCE-{{ call.frame_id + '-' + v + '-' + ref[1] }}" ng-if="isReference(ref)">
          <i> {{ ref | beautifyRef:showArrows }} </i></td>
        <td ng-if="! isReference(ref)"> {{ ref | checkNull }} </td>
      </tr>
    </table>
  </div>

  <!--heap-->
  <div class="col-xs-8">
    <h2> Heap </h2>
    <hr/>
    <div class="col-xs-4" ng-repeat="(ref, v) in curTrace.heap">

      <!-- case INSTANCE -->
      <table class="table table-bordered heap_instance"
             style="table-layout: fixed"
             ng-if="v[0] == 'INSTANCE'">
        <!--instance's class name-->
        <tr> <th class="hand_pointer"
                 ng-click="activateInstance(ref, v)"
                 id='TARGET{{ ref }}' colspan="2"> {{ v[1] }}({{ ref }})</th> </tr>
        <!--0: field name-->
        <!--1: field value-->
        <tr ng-repeat="field in v" ng-if="$index > 1">
          <td> {{ field[0] }}</td>

          <!--   SOURCE - INSTANCE_REF - VAR_NAME - REF_ID   -->
          <td id="SOURCE-{{ ref + '-' + field[0] + '-' + field[1][1]}}" ng-if='field[1] && field[1][0] === "REF"'>
            <i>{{ field[1] | beautifyRef:showArrows }}</i>
          </td>
          <td ng-if='field[1][0] !== "REF"'> {{ field[1] | checkNull }}</td>
        </tr>
      </table>

      <!-- case Array -->
      <table class="table table-bordered heap_array"
             ng-click="activateArray(ref, v)"
             ng-if="v[0] == 'LIST'">
        <tr> <th class="hand_pointer" id='TARGET{{ ref }}'>
          Array({{ ref }})</th> </tr>
        <tr ng-repeat="field in v track by $index" ng-if="$index > 0">
          <!-- primitive type -->
          <!--field => primitive_value-->
          <td ng-if="! isReference(field)">{{ field | checkNull }}</td>

          <!--reference type-->
          <!--field => ['REF', ref_id]-->
          <!--   SOURCE - ARRAY_REF - ARRAY_INDEX - REF_ID   -->
          <td id="SOURCE-{{ ref + '-' + $index + '-' + field[1]}}" ng-if="isReference(field)"
              style="height: 37px">
            <i>{{ field | beautifyRef:showArrows }} </i></td>
        </tr>
      </table>

      <!--case String-->
      <table class="table table-bordered heap_string"
             ng-click="activateString(ref, v)"
             ng-if="v[0] == 'HEAP_PRIMITIVE'">
        <tr>
          <th class="hand_pointer" id='TARGET{{ ref }}'> {{ v[1] }} ({{ ref }}) </th>
        </tr>
        <tr>
          <td> {{ v[2] }} </td>
        </tr>
      </table>

    </div>
  </div>

<hr />
